body {
  margin: 0;
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color:black;
}

main {
  width: calc(100% - 90px);
}
nav {
  position: absolute;
  top: 0;
}
.menu-button {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border: solid 2px black;
    border-radius: 50%;
    z-index: 100;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
}

.menu-button.open {
  border: solid 2px white;
}

.menu {
  position: fixed;
  height: 100vh;
  width: 500px;
  background-color:black;
  color:white;
  left: calc( 100% - 500px);
  text-align: center;
  transform: translateX(500px);
  transition: all 0.2s ease-in;
  z-index: 80;
}

.menu.open {
  transform: translateX(0);
}

.menu ul {
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu li {
  padding: 20px 0;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5;
  z-index: -20;
}

