*{
	margin: 0;
	padding: 0;
}

body{
	font-family: sans-serif;
} 

.container{
 	width: 500px;
	margin: auto;
}

.item{
	border-top: 2px solid blue;
	padding: 2rem 0;
}

h1{
	text-align: center;
	margin: 1rem auto;
}

h3{
	margin: .5rem 0 .5rem 30px;
}

a{
	color: blue;
}
a:hover{
	color: red;
}

.item { 
	cursor: pointer;
}

.heading h2::before{
	content: '+';
	display: inline-block;
	width: 30px;
}

.details{
	line-height: 1.3;
	color: blue;
	display: none;
/*	height: 0;
	overflow: hidden;
	transition: height 400ms ease-in-out;*/
}

.active .heading h2::before{
	content: '-';
}
.active .details{
	display: block;
/*	height: 300px;*/
}



button{
	font-size: 1rem;
	font-weight: bold;
	border: 2px solid blue;
	background: transparent;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border-radius: 5px;
}

button:hover{
	background: rgb(200 200 200);
	cursor: pointer;
}



